<div class="row justify-content-center"><div class="col-md-5"><div class="card p-4">
  <h3>Redefinir Senha</h3>
  <div class="mb-2"><input class="form-control" [(ngModel)]="token" placeholder="Token" /></div>
  <div class="mb-2"><input class="form-control" type="password" [(ngModel)]="password" placeholder="Nova senha" /></div>
  <div class="mb-2"><input class="form-control" type="password" [(ngModel)]="confirm_password" placeholder="Confirmar senha" /></div>
  <button class="btn btn-warning" (click)="submit()">Atualizar Senha</button>
</div></div></div>
